<header>
    <nav>
        <ul>
            <li><a href="/app/friends">Friends</a></li>
            <li><a href="/app/friends/about">About</a></li>
            <li><a href="/app/friends/create">Add Friend</a></li>
        </ul>
    </nav>
</header>