<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1>Add Friend</h1>
    <fieldset>
        <legend>Add Friend</legend>
        <form action="/app/friends" method="post">
            <label for="name" >Name</label>
            <input type="text" id="name" name="name">
            <label for="image" >Image</label>
            <input type="text" id="image" name="image">
            <label for="phone" >Phone</label>
            <input type="number" id="phone" name="phone">
            <label for="age" >Age</label>
            <input type="text" id="age" name="age">
            <button>Add</button>
        </form>
    </fieldset>
</body>
</html>