<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="">Friends</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Add Friend</a></li>
            </ul>
        </nav>
    </header>
    <div>
        <h1>Friends List</h1>
        <div class="contsiner">
            <div class="card">
                <img src="" alt="">
                <h3>name</h3>
                <h3>phone</h3>
                <h3>age</h3>
            </div>
        </div>
    </div>
</body>
</html>